@model MyProject.NhaCungCap

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Admin/LayoutAdmin.cshtml";
}
<h3 class="text-center lead mb-3 font-weight-bold" style="font-size: 36px; text-shadow: 0 0 8px rgba(0,0,0,0.2)" data-aos="flip-right">
    Sửa danh sách nhà cung cấp
</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)




    @Html.HiddenFor(model => model.MaNCC)
    <div class="form-group">
        <div class="editor-label">
            @*@Html.LabelFor(model => model.TenLoaiSP)*@
            <p class="col-md-10">Tên nhà cung cấp</p>
        </div>
        <div class="editor-field col-md-10">
            @Html.TextBoxFor(model => model.TenNCC, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TenNCC, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="editor-label">
            @*@Html.LabelFor(model => model.TenLoaiSP)*@
            <p class="col-md-10">Địa chỉ</p>
        </div>
        <div class="editor-field col-md-10">
            @Html.TextBoxFor(model => model.DiaChi, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="editor-label">
            @*@Html.LabelFor(model => model.TenLoaiSP)*@
            <p class="col-md-10">SDT</p>
        </div>
        <div class="editor-field col-md-10">
            @Html.TextBoxFor(model => model.SDT, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-5 col-sm-offset-4 col-sm-5">
            <input type="submit" value="Sửa" class="btn btn-primary" />
        </div>
    </div>

}

<div>
    <a class="btn btn-info" href="@Url.Action("Index","nhacungcap")">Quay lại</a>
</div>


